* {
    box-sizing: border-box;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 227, 227);
    color: black;
    padding: 10px;
  }
  
  .navbar h1 {
    margin: 0;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-left: 20px;
  }
  
  .navbar a {
    color:grey;
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  #sign{
    color:white;
    border-radius: 5px;
  }
  #login{
    color:grey;
    border-radius:5px;
  }


  .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    text-align: center;
  }
  /* Main section styles */



  
  .container {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
  }
  
  .item-left {
    padding-top: 20px;
    flex: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .item-right {
    padding: 2px;
    flex: 50%;
  }
  



  .column {
    float: left;
    width: 50%;
    padding: 2px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }   



  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .item-right, .item-left {
      flex: 100%;
    }
  }
  main {
    padding: 10px;
  }
  


  #last_line{
    text-align: center;
    
  }
  /* Footer styles */
  .row-foot:after {
    justify-content: space-around;
    padding-top: 10px;
    border: #333;
    border-radius: 10%;
    display:flex;
      content: "";
      display: table;
      clear: both;
    }
    .col-foot {
          float: left;
          width: 20%;
          padding: 2px;
          height: 100px;
          flex-direction:column;
        }
        